.icon{
   @apply cursor-pointer w-9 h-9 hover:bg-[#1d9bf0]
    hover:bg-opacity-10 flex items-center justify-center rounded-full transition ease-out;
}
.picker{
    position: absolute;
    margin-top: 500px;
    margin-left: -40;
    max-width: 320px;
    border-radius: 20px;


}